<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet">
  <h2>Log in</h2>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-textfield mdl-js-textfield">
      <%= f.label :email, class: 'mdl-textfield__label' %>
      <%= f.email_field :email, autofocus: true, class: 'mdl-textfield__input' %>
    </div>

    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-textfield mdl-js-textfield">
      <%= f.label :password, class: 'mdl-textfield__label' %>
      <%= f.password_field :password, autocomplete: "off", class: 'mdl-textfield__input' %>
    </div>

    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet">
      <%= f.submit 'Log in', class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored' %>
      <label>or you can </label>
      <%= render 'devise/shared/links' %>
    </div>

<% end %>


