<div class="post-div box <%= post.is_parent? ? 'bg-primary' : background_color_class(index) %>">
  <% if can? :update, post %>
      <%= link_to edit_post_path(post), class: 'pull-right btn btn-default btn-success' do %>
          <span class="glyphicons glyphicons-edit">Edit</span>
      <% end %>
  <% end %>
  <p>
    <h2><%= post.get_title %></h2>
  </p>

  <p>
    <%= post.message %>
  </p>
  <span>
    by <%= post.user.email %>
  </span>
</div>
