<p id="notice fade in"><%= notice || params[:errors] %></p>

<h1>Posts</h1>
<span class="right-corner-button pull-right">
  <%= link_to 'New Post', new_post_path, class: 'btn btn-default btn-info' %>
</span>
<% @posts.each do |post| %>
  <div class="row main-list">
    <%= link_to post, class: 'text-primary' do %>
      <div class="col-md-6">
        <%= post.title.truncate(50) %>
        <br>
        Last reply: <%= post.posts.last.created_at.strftime('%d/%m/%Y at %H:%M') %>
      </div>
      <div class="col-md-5">
        author: <%= post.user.email %>
      </div>
    <% end %>
    <div class="col-md-1">
      <% if can? :destroy, post %>
          <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-danger' %>
      <% end %>
    </div>
  </div>
<% end %>


