<p id="notice"><%= notice %></p>
<%= render 'show', post: @post %>

<% @post.posts.each do |post| %>
  <%= render 'show', post: post %>
<% end %>
<%= link_to 'Reply', new_post_path(parent_id: @post.id) %> |
<%= link_to 'Back', posts_path %>
