<p id="notice"><%= notice %></p>
<%= render 'show', post: @post %>

<% @post.posts.each_with_index  do |post, index| %>
  <%= render 'show', post: post, index: index %>
<% end %>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet">
    <%= link_to 'Reply', new_post_path(parent_id: @post.id), class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored' %>
    <%= link_to 'Back', posts_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>
  </div>
</div>

