<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <header class="">
        <%= link_to 'Home', root_path %>
        <% if current_user.try(:super?) %>
          <%= link_to 'Admin', users_path %>
        <% end %>
        <div class="header-access-menu">
          <% if current_user %>
            <%= current_user.email %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% else %>
            <%= link_to 'Sign In', new_user_session_path %>
          <% end %>
        </div>
      </header>
    </div>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
